{% extends 'layout.html' %}

{% block body %}

<header class="legal">
	<div class="legal-overlay"></div>
	<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
		<source src="static/computer.mp4" type="video/mp4">
	</video>
	<div class="container legal h-100">
		<div class="d-flex h-100 text-center align-items-center">
			<div class="w-100 text-white">
				<h1 class="display-3">Candidates</h1>
			</div>
		</div>
	</div>
</header>

<div class="conatainer">

	<p>We strive to create the best experience for every candidate we partner with. We believe in a
		professional, transparent process with a hope to build long-term relationships – An Agency you can rely
		on in an industry polluted with cloak-and-dagger Recruitment Businesses. Whether you are looking for
		your next career move or open to understanding what opportunities are available, we have a dedicated
		team to assist you.
		We partner with a range of clients from Start-Ups to Industry leading organisations – Each organisation
		offers fantastic opportunities to build and progress your career.
		Our experienced consultants believe in honesty, transparency and making every candidate’s experience
		with InterCity memorable for all the right reasons. Whether you are currently on our books or thinking
		of getting in touch – we like to provide career advice to every candidate we deal with, if you are
		thinking of taking the leap from contract to perm (or vice versa!) relocating or even stepping up into
		management – Please get in contact.
		Here at InterCity we do business the Old-Fashioned way – meeting with every candidate we partner with.
		Please fill in the form below and a dedicated consultant will be in touch to organise a meeting.</p>
</div>

<div class="contact_container">

	<div class="right">

		<h2>Contact Us</h2>
		<input type="text" class="field" placeholder="Your Name">
		<input type="text" class="field" placeholder="Your Email">
		<input type="text" class="field" placeholder="Phone">
		<div class="form-group">
			<label for="exampleFormControlFile1">Upload CV</label>
			<input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>

		<textarea placeholder="Message" class="field"></textarea>
		<button class="btn">Send</button>
	
</div>
</div>

{% endblock %}