<footer style="min-height: auto;">
	<div class="row">
		<p class="col-9">0208 980 8583<br>recruitment@intercitypartners.com
			<br><br> Unit 10,<br> 49 Mowlem Street,<br> London<br>E2 9HE<br></p>
			<dl class="col-3">
				<a target="blank" href="https://twitter.com/minus99ds"><i class="fa fa-twitter fa-2x"> </i> </a>
				<a target="blank" href="https://www.facebook.com/minus99"><i class="fa fa-facebook fa-2x"> </i></a>
				<a target="blank" href="https://www.linkedin.com/company/-99-design-studio"><i class="fa fa-linkedin  fa-2x"></i></a>
				

			</dl>
	</div>
    <div class="small">
	<small>© Intercity Recruiters</small>
    </div>
</footer>