<footer style="min-height: auto;">
	<div class="row">
		<p class="col-9">0208 980 8583<br>recruitment@intercitypartners.com
			<br><br> Unit 10,<br> 49 Mowlem Street,<br> London<br>E2 9HE<br></p>
			<dl class="col-3">
				<dt class="twitter-square"><a target="blank" href="https://twitter.com/minus99ds">Twitter</a></dt>
				<dt class="facebook"><a target="blank" href="https://www.facebook.com/minus99">Facebook</a></dt>
				<dt class="linkedin"><a target="blank"
						href="https://www.linkedin.com/company/-99-design-studio">Linkedin</a>
				</dt>

			</dl>
	</div>
    <div class="small">
	<small>© Intercity Recruiters</small>
    </div>
</footer>