<footer class="footer-text" style="min-height: auto;">
	<div class="row">
		<p>0208 980 8583
			<br><br> Unit 10,<br> 49 Mowlem Street,<br> London<br>E2 9HE<br>

			<br>recruitment@intercitypartners.com<br><br>
			<!-- <a target="blank" href="https://twitter.com/minus99ds"><i class="fa fa-twitter fa-2x"> </i> </a> -->
			<a target="blank"
				href="https://www.linkedin.com/company/intercity-partners-ltd/"><i class="fa fa-linkedin  fa-2x"></i></a>
		</p>
	</div>
	<div class="small">
		<small>© Intercity Recruiters</small>
	</div>
</footer>