{% extends 'layout.html' %}

{% block body %}
<header class="v-header container">
	<div class="fullscreen-video-wrap">
		<video src="static/video2.mp4" controls autoplay muted loop></video>
	</div>
	<div class="header-overlay"></div>
	<div class="header-content">
		<h1 class="ml11">
			<span class="text-wrapper">
            <span class="line line1"></span>
            <!----- website code for slogan: https://tobiasahlin.com/moving-letters/#11-->
			<span class="letters">“If we take care of our character, our reputation will take care of us.”</span>
			</span>
		</h1>
	</div>
</header>
<section class="skewed-box">

  <div class="skewed-container">
    <h1>About InterCity Partners</h1>
    <p>Based in the heart of London, InterCity Partners is a leading Recruitment Consultancy specialising in delivering Contract and Permanent solutions within IT and Business Change. We take pride in our reputation and operate with one simple principle “If we take care of our character, our reputation will take care of us”. </p>

 
<p>
Partnered with a range of clients from Start-Ups to Industry leading organisations, we provide staff at all levels to some of the world’s leading Investment Banks and Retail banks, as well as Asset Management, Investment Management and Wealth Management organisations. Our remit also provides expert market intelligence and hiring needs across Retail, Media, E-commerce, Manufacturing and other Fortune 500 industries. </p>

 

<p>We recruit at all levels across the UK and Europe, from graduate positions to C level appointments.</p>
  </div>
</div>  
</section>
<section>
<div class="parallax-div"></div>
<div class="container">
<h1>What we can do for you</h1></div>
</section>


{% endblock %}