{% extends 'layout.html' %}

{% block body %}
<header class="v-header container">
	<div class="fullscreen-video-wrap">
		<video src="static/video2.mp4" controls autoplay muted loop></video>
	</div>
	<div class="header-overlay"></div>
	<div class="header-content">
		<h1 class="ml11">
			<span class="text-wrapper">
            <span class="line line1"></span>
			<span class="letters">“If we take care of our character, our reputation will take care of us”.</span>
			</span>
		</h1>
	</div>
</header>
{% endblock %}