{% extends 'layout.html' %}

{% block body %}
<header class="v-header container">
	<div class="fullscreen-video-wrap">
		<video src="static/femalephone.mp4" autoplay muted loop></video>
	</div>
	<div class="header-overlay"></div>
	<div class="header-content">
		<div class="type-js headline">
			<h1 class="text-js">"If we take care of our character, our reputation will take care of us."</h1>
		</div>
	</div>
</header>
<section class="skewed-box">

	<div class="skewed-container">
		<h1>About InterCity Partners</h1>
		<br>
		<p>Based in the heart of London, InterCity Partners is a leading Recruitment Consultancy specialising in
			delivering Contract and Permanent solutions within IT and Business Change. We take pride in our reputation
			and operate with one simple principle “If we take care of our character, our reputation will take care of
			us”. <br><br>
			Partnered with a range of clients from Start-Ups to Industry leading organisations, we provide staff at all
			levels to some of the world’s leading Investment Banks and Retail banks, as well as Asset Management,
			Investment Management and Wealth Management organisations. Our remit also provides expert market
			intelligence and hiring needs across Retail, Media, E-commerce, Manufacturing and other Fortune 500
			industries. <br><br>We recruit at all levels across the UK and Europe, from graduate positions to C level appointments.</p>
	</div>
	</div>
</section>

<section class="parallax-hide">
	<div class="parallax-div"></div>

</section>
<div class="blue-line"></div>
<section>

	<div class="container">
		<div class="row">
			<div class="col-12 header-title">
				<h1>What we do...</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-sm job-container">

				<img src="{{url_for('static', filename='images/hover-icons/software.jpg')}}" alt="software" class="image">
				<div class="overlay-we-do we-do-1">
					<div class="text">Software, Digital
						&
						Testing:<br><br>.Net, C#, Java, ASP.net, HTML, CSS, Sharepoint, CRM, MVC, Apache, VB, Silverlight,
						J2EE, Spring, Websphere, Weblogic, WPF, WCF, Android, iOS, API, Agile, BI, C++, UI, Cognos, Go,
						Groovy, PHP, PLSQL, JavaScript, MySQL, SQL, Ruby, Python, Perl, Scala, Shell, Angular, Node.js,
						React, Bootstrap, SSAS, SSIS, SSRS, Selenium, Cucumber, UFT - QTP, SoapUI, Jira, HP ALM, Quality
						Centre, ISEB.
					</div>
					</div>
					<h3 class="smaller-title">Software, Digital <br>
                &
                Testing</h3>
				</div>


				<div class="col-sm job-container">

					<img  src="{{url_for('static', filename='images/hover-icons/infrastructure.jpg')}}" alt="Infrastructure" class="image">
					<div class="overlay-we-do we-do-2">
						<div class="text">Infrastructure
							&
							Architecture: <br><br>Windows Server, RedHat Linux (RHEL), Unix, Ubuntu, Solaris, VMWare, Citrix, NetApp,
                    TCP/IP, Cisco, Checkpoint, SQL Server, Exchange, Active Directory (AD), Windows OS (Desktop),
                    CentOs, Apache, Tomcat, JBoss, Nagios, Zabbix, AIX, EMC, HDS, Juniper, Aruba, Oracle Server, MS
                    Office (Office 365), SCCM
					</div>
						</div>
						<h3 class="smaller-title">Infrastructure <br>
                &
                Architecture</h3>
					</div>

					<div class="col-sm job-container">

						<img src="{{url_for('static', filename='images/hover-icons/cloud.jpg')}}" alt="Cloud
                &
                DevOps" class="image">
						<div class="overlay-we-do we-do-3">
							<div class="text">Cloud
								&
								DevOps: <br> <br>Amazon Web Services (AWS), VPC, IAM, Microsoft Azure,
                    Rackspace, Oracle Cloud, Salesforce, Google Cloud, EC2, Powershell, Bash,
                    Shell, IIS, Puppet, Ansible, Kubernetes, Docker, Terraform, Chef, Jenkins,
                    CI, CD, TeamCity, ELK, Slack, Git, Octopus Deploy, Maven, GitHub.

					</div>
							</div>
							<h3 class="smaller-title">Cloud
								&
								DevOps</h3>
						</div>

						<div class="col-sm job-container">

							<img src="{{url_for('static', filename='images/hover-icons/programme.jpg')}}" alt="Programme
                Management" class="image">
							<div class="overlay-we-do we-do-4">
								<div class="text">Projects
									&
									Programme
									Management:<br><br>Portfolio Management, Programme Management, Project
                    Management, Business Analysis, Development, Infrastructure, Change,
                    Data, Release Management, Regulatory, Basel, Brexit, GDPR, Mifid, FATCA,
                    Dodd Frank, Consumer Credit Act, Security, AML, KYC, Risk, Payments,
                    PSD2, Mortgages.
					</div>
								</div>
								<h3 class="smaller-title">Projects
									&<br>
                Programme
                Management</h3>

							</div>
						</div>
					</div>
</section>

<section class="parallax2">

	<div class="overlay">
		<div class="row test-row">
			<div class="col-12 header-title">
				<h1>Testomonials</h1>
			</div>

			<div class="col-lg-4">
				<p>“InterCity Partners understand the values and the culture of our business. They have provided
					excellent
					candidates for a variety of different positions. We have had a brilliant experience and will
					continue to
					use them. We recommend them and the high quality service they provide.”
				</p><br>

				<p>
					Lead Internal Recruitment Consultant @ Retail Bank</p>
			</div>
			
			<div class="col-lg-4">
				<p>"InterCity are a forthcoming and professional Recruitment Organisation who provide essential market
					intelligence as well as exceptional candidates that meet the brief. They understand the businesses
					and
					requirements in a way that most Recruiters fail to meet the mark, and stand apart from the standard
					‘white-socks’ style of selling – A valued resource on our PSL."</p><br>
				<p>
					Internal Recruiter, NTT Europe</p>
			</div>
			
			<div class="col-lg-4">
				<p>“I found InterCity Partners very professional to deal with, as a candidate for a senior role. They
					knew
					their client and industry well, kept me informed and went over and above in trying to find out the
					inside scoop. The Director met with me before each stage of interview, which is always a sign of a
					professional recruiter, both from the point of view of the candidate and hiring manager. I would not
					hesitate to engage them or recommend them for a PSL when I next have to do hiring."
				</p><br>
				<p>
					CR – Head of EUC – Financial Services</p>
			</div>
		</div>
	</div>
</section>


{% endblock %}