{% extends 'layout.html' %}
{% block body %}
<header class="legal">
  <div class="legal-overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="static/london.mp4" type="video/mp4">
  </video>
  <div class="container legal h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Legal, Memberships and Accreditations</h1>
      </div>
    </div>
  </div>
</header>


<section>

<!-- Page Content -->
    <div class="legal container">

      <!-- Page description -->
     <h2>Intercity Partners is built upon trust within our organination aswell as with our clients. We pride ourselves on our ethics and transparency and so to enable peace of mind we have taken a number of steps to secure accreditations and insurances.

    

</h2>

      <!-- Project One -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{url_for('static', filename='images/fsqs.png')}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>FSQS Registered</h3>
          <p>The FSQS Registered Mark is valued by some of
the largest purchasers in the financial sector and
indicates that our organisation has gone through
the process required to demonstrate its commitment
and credentials to the industry. </p>
          <a class="btn btn-primary" href="#">View Certificate</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Two -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{url_for('static', filename='images/rec.jpg')}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>REC Certified</h3>
          <p>REC Corporate members pass a compliance test to join and maintain its membership. It enables you to know that we hold the relevant legislation and uphold the ethics in our Code of Professional Practice.</p>
          <a class="btn btn-primary" href="#">View Certificate</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Three -->
      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{url_for('static', filename='images/SBinsure.png')}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Simply Business Insurance</h3>
          <p>Business Insurance tailored specifically for our organisation.</p>
          <a class="btn btn-primary" href="#">View Certificate</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      
    <!-- /.container -->
</section>
{% endblock %}