<div id="sidebar">
  <ul class="menu">
    <li class="menu-global menu-top" onclick="window.open('https://codepen.io/woodwork/', '_blank');">
      <span class="menu-text">More Pens</span>
    </li>
    <li class="menu-global menu-middle">
      <span class="menu-text">Ai Weiwei</span>
    </li>
    <li class="menu-global menu-bottom">
      <span class="menu-text">Bert Heller</span>
    </li>
    <li class="menu-global menu-hidden">
      <span class="menu-text">Gustav Klimt</span>
    </li>
    <li class="menu-global menu-hidden">
      <span class="menu-text">Paul Klee</span>
    </li>
    <li class="menu-global menu-hidden">
      <span class="menu-text">Egon Schiele</span>
    </li>
    <div class="menu-close fa fa-close"></div>
    <div class="click-blocker"></div>
  </ul>
</div>
<!-- <script src="{{ url_for('static', filename='nav.js') }}"></script> -->