<div id="sidebar">
  <ul class="menu">
  <a>
    <li class="menu-global menu-top">
      <span class="menu-text">Home</span>
    </li>
    </a>
    <a>
    <li class="menu-global menu-middle">
      <span class="menu-text">Candidate</span>
    </li>
    </a>
    <a>
    <li class="menu-global menu-bottom">
      <span class="menu-text">Clients</span>
    </li>
    </a>
    
    <li class="menu-global menu-hidden">
      <span class="menu-text">Legal</span>
    </li>
    
   <a>
    <li class="menu-global menu-hidden">
      <span class="menu-text">Contact</span>
    </li>
    </a>
    <div class="menu-close fa fa-close"></div>
    <div class="click-blocker"></div>
  </ul>
</div>

