<img class="site-logo" src="static/images/intercitylogo.jpg" alt="intercity partnership logo">

<div id="sidebar">
	<ul class="menu">
		<a href="/">
			<li class="menu-global menu-top">
				<span class="menu-text">Home</span>
			</li>
		</a>

		<a href="/candidates">
			<li class="menu-global menu-middle">
				<span class="menu-text">Candidates</span>
			</li>
		</a>
		<a href="/clients">
			<li class="menu-global menu-bottom" >
				<span class="menu-text">Clients</span>
			</li>
		</a>
       <a href="/legal" class="menu-global menu-hidden">
			<li>
				<span class="menu-text">Legal</span>
			</li>
		</a>
		<a href="/contact" class="menu-global menu-hidden">
			<li>
					<span class="menu-text">Contact</span>
			</li>
		</a>
        

		<!-- More tab options -->
		
       
		<!-- <a href="">
			<li class="menu-global menu-hidden">
				<span class="menu-text">Egon Schiele</span>
			</li>
		</a> -->


		<div class="menu-close fa fa-close"></div>
		<div class="click-blocker"></div>
	</ul>
</div>

