<div id="sidebar">
	<ul class="menu">
		<a href="">
			<li class="menu-global menu-top">
				<span class="menu-text">Home</span>
			</li>
		</a>
		<a href="">
			<li class="menu-global menu-middle">
				<span class="menu-text">Candidates</span>
			</li>
		</a>
		<a href="">
			<li class="menu-global menu-bottom" href="/clients">
				<span class="menu-text">Clients</span>
			</li>
		</a>
		<a href="">
			<li class="menu-global menu-hidden"><a href="/contact">
					<span class="menu-text">Contact</span></a>
			</li>
		</a>

		<!-- More tab options -->
		<!-- <a href="">
			<li class="menu-global menu-hidden">
				<span class="menu-text">Paul Klee</span>
			</li>
		</a> -->
		<!-- <a href="">
			<li class="menu-global menu-hidden">
				<span class="menu-text">Egon Schiele</span>
			</li>
		</a> -->
		<div class="menu-close fa fa-close"></div>
		<div class="click-blocker"></div>
	</ul>
</div>