{% extends 'layout.html' %}

{% block body %}
<h1>PRIVACY POLICY</h1>
<h1>InterCity Partners Ltd Privacy Policy</h1>
<p>
This privacy policy governs the collection, storage and use of personal information collected by InterCity Partners Ltd a company incorporated in England and Wales with registered company number 11811073 and registered offices located at Unit 10, 49 Mowlem Street, London, E2 9HE (“InterCity Partners Ltd” or “we” or “us”).
<br><br>
The way in which we collect your data will depend on how it comes into our organisation.
<br><br>
This will be
• as a result of you registering with us via our website at www.intercitypartners.com (the “Site”); or
• as a result of you responding to an advertisement posted by us on a job board, online CV library or via social media; or
• as a result of us matching your CV, as uploaded by you onto a job board, online CV library or a social media site, to a vacancy we are seeking to fill for one of our clients; or
• as a result of a personal recommendation; or
• from a company website; or
• from your business card; or
• in the course of us providing permanent and/or temporary recruitment and resourcing services; and/or consultancy services or services involving the subcontracting of statements of work, to you (“Services”)
<br><br>
where “you” are a candidate, consultant, client contact or contact at any other organisation involved in the introduction and/or supply of a candidate’s or consultant’s services, such as a contact at a recruitment process outsourcing company, consultancy company, personal service company or umbrella company.
<br><br>
References in this policy to:
• “hirer” and “client” mean any hiring organisation to which we offer and/or provide recruitment, resourcing and/or consultancy services;
• “client contact” means a hiring manager or procurer/recipient of consultancy services at a client;
• “candidate” means a potential or actual candidate for a role with a client;
• “consultant” means a person whose services are supplied via InterCity Partners Ltd to work on temporary assignment with a hirer, or, in the case of a consultancy supply, any consultant assigned by the relevant consultancy to work on the consultancy services.
<br><br>
Specifically, this privacy policy provides you with details about the personal information we collect and hold about you, how we use your personal information, and your rights regarding your personal information.
<br><br>
It does not cover any use of your personal information by:
• an actual or potential employer or hirer;
• an umbrella company; or
• any other organisation involved in the supply of your services or consultancy via us to a hirer,
to whom we provide your personal information as part of the recruitment or consultancy process. That use will be governed by the relevant employer’s or hirer’s privacy policy.
<br><br>
Please read this privacy policy carefully.
<br><br>
Overview
We respect your right to privacy. Our overall aim is to ensure that our collection and use of personal information is appropriate to the provision of services to you and is in accordance with applicable data protection laws.
<br><br>
Further details of how we do so are set out in each section of our privacy policy as follows:
• The personal information we collect about you
• How we use your personal information and our lawful bases for processing your personal data
• Anonymous data
• How we share your personal information and who we share it with
• International transfers
• How long do we keep your information?
• How we use Cookies
• Third party sites
• Your Security rights
• Rights to your information
• Third party sites
• Changes to this Privacy Policy
• Complaints, questions and suggestions
<br><br>
What does InterCity Partners Ltd do?
We provide recruitment and consultancy services to candidates and consultants to help them find roles, specialising in the fields of technology, digital and change. We do this through assessing and matching people with potential opportunities.
<br><br>
We work with clients to provide recruitment and consultancy services to help them fill requirements for specialist skills and consultancy services.
<br><br>
The personal information we collect about you
Candidates and Consultants: the personal information we collect about you where “you” are a candidate or placed consultant.
<br><br>
InterCity Partners Ltd aims to collect the minimum data it needs to perform its role. Typically, this is name, address, job title and contact details. In addition, if you are a candidate or consultant being considered for a role it will also include your CV / resume as well as other details about your skills and experience.
<br><br>
When:
• you access and browse the Site (including when you submit personal information to us through data entry fields on the Site); or
• you respond to an advert posted by us whether via a job board, LinkedIn or other social networking site; or
• we download details uploaded by you onto a job board, LinkedIn or other social networking site in relation to a vacancy we are seeking to fill for one of our clients; or
• we download details uploaded by you onto a job board, LinkedIn or other social networking site in connection with our internal market research ; or
• you contact us by phone, email or otherwise; or
• we provide Services to you or to an actual or a potential hirer of your services; or
• we contact you with a view to providing Services to you; or
• we provide on-boarding services to a hirer of your services,
we will usually collect the following information from or about you:
• name
• address;
• phone and e-mail details;
• your bank details
• a copy of your passport details including your passport photograph;
• your current and previous employment/work details, including job title and employer;
• any professional certifications relevant to the role you seek to work in, education and qualifications, skills, career history, salary/fee range, right to work status, citizenship, and any other information relevant or required by law to enable us to provide the Services;
• any other information which you include in your CV or a completed application form;
• any information which has been published or made available on a social media profile or job board (whether by you or a third party), or in any news media;
• details of your umbrella company or personal service company;
• the contract for services we hold with your umbrella company or personal service company relating to the work you do or will do for our client, including timesheet data and charge rates relating to the work you perform under that contract;
• details of your referees and emergency contacts;
• references from third parties such as previous employers and nominated referees;
• the results of pre-employment screening or vetting checks which we are asked or required to undertake in relation to you (including the results of any Disclosure and Barring checks and any information you provide relating to current and/or spent criminal convictions carried out on behalf of the client during the on boarding process);
• any e mail communications, including attachments, which you send to us;
• the results of any right to work checks we are required to carry out by our client.
<br><br>
You can update your CV or personal data at any time by forwarding a copy to recruitment@intercitypartners.com
<br><br>
Referees and emergency contacts: the personal information we collect about you where “you” are a referee or emergency contact. We collect basic contact details (such as name, title, address, email and telephone number) so that we can contact you for a reference or as an emergency contact for one of our candidates/consultants.
<br><br>
Client contacts: the personal information we collect about you where “you” are a contact at one of our clients or at an MSP, umbrella company or personal service company involved in the supply of a person’s services to a hirer.
<br><br>
We need to collect information about you as an essential part of providing our Services when:
• we contact you with a view to providing Services to you; or
• you email us expressing an interest in working with us;
• you provide us with your business card or other information provided to us, given to our employees at sales and marketing events;
• you post information or advertisements on job boards or social media websites;
• we provide Services to you as an actual or a potential hirer of your services; or
• we complete contractual documentation relevant to the Services,
<br><br>
we will usually collect the following information from or about you:
• your name;
• your postal address;
• your phone and e-mail details;
• details of your role, title and responsibilities within your organisation;
<br><br>
where “you” are a client contact:
– any opinion or feedback you share with us regarding a candidate or consultant;
– details of any queries you raise with us regarding the Services;
– details of any recruitment, resourcing or consultancy requirements or plans you share with us.
<br><br>
At some times we regard you as a candidate and at some times as a client. Where this is the case please read the sections below relating to candidates and client contacts and how we will use your personal information.
<br><br>
How we use your personal information and our lawful basis for processing your personal data
Candidates and consultants: 
We collect, store and use information that we obtain in relation to you for our legitimate interests:
<br><br>
so that we can contact you (via email, SMS or phone) about opportunities and assignments that we believe you will be interested in;
• to help us to provide suitable candidates and consultants for our clients who engage us to assist them fulfil their recruitment and resourcing requirements;
• to provide a channel through which you can submit your CV for general applications, to apply for specific jobs or to subscribe to our job alerts;
• to match your details with vacancies, to assist us in finding a position that is most suitable for you and to send your information to clients for potential jobs. Please note that we will always obtain verbal or written consent before
presenting your personal details to a client;
• to enter into contracts which are necessary in order for your service to be supplies or made available to a hirer;
• to provide recruitment-related support;
• to carry out market research for our internal use;
• to develop an industry-relevant database of candidates and clients to help meet our clients’ resourcing requirements and connect candidates with work opportunities;
• for internal record keeping purposes;
• to carry out services that we, you or our client have requested including work-related references, qualifications and criminal references checking services, verification of the details you have provided from third party sources, psychometric evaluations or skills tests;
• to inform you of InterCity Partners Ltd [networking and other career-development related] events.
<br><br>
This storage and use of your personal information allows you to be contacted about roles which we think will be of interest to you, now or in the future, and we do not believe that this storage and use will unduly prejudice your rights or freedoms.
<br><br>
We will store and use your personal information in order to comply with relevant legal obligations to which InterCity Partners Ltd is subject, including carrying out:
• verification of your identity to comply with The Conduct of Employment Agencies and Employment Businesses Regulations 2003;
• right to work checks to comply with relevant immigration legislation;
<br><br>
In other, relatively limited circumstances, we will carry out further relevant background checks as requested by our client. In these circumstances we will be acting on behalf of our client and the handling of your personal data will be governed by the client’s privacy policy.
<br><br>
Where you are successful in securing temporary assignment or consultancy work with one of our clients we will store and use your personal information for the purposes of completing and administering contracts with your chosen personal service company, umbrella company or consultancy company and for processing payment to such company in respect of services you (or your consultancy) have performed for our client. Such processing will be for our legitimate interests so that we can provide Services to you and our client. We do not believe that this storage and use of your personal information will unduly prejudice your rights or freedoms.
<br><br>
Such processing will also be necessary for the performance of a contract to which you are party (i.e. your contract with the company with whom you work to provide assignment/consultancy services) and/or in order to take steps prior to you entering into such contract, including contracts we enter into with the client relating to the provision of your services or consultancy services.
<br><br>
If our client requires us to collect, store and use your health data and/or any Disclosure and Baring Checks we will, on our client’s behalf, seek your consent to processing such data. You can withdraw your consent at any stage but this may prevent us from being able to deliver our recruitment services to you.
<br><br>
Client contacts and other third parties involved in the supply of resourcing services (e.g. umbrella companies and personal service companies)
<br><br>
We collect, store and use your name and contact details for our legitimate interests, so that we can:
• send you the details of candidates and consultants and contact you about our Services; and
• maintain our business relationship with you.
<br><br>
This allows you to be contacted to receive and administer any Services which you or your organisation has requested.
<br><br>
In the case of contacts at umbrella companies and personal service companies this allows you to be contacted to receive details of current and future assignments, related timesheet data and payment details.
<br><br>
We do not believe that this storage and use of your personal information will unduly prejudice your rights or freedoms.
<br><br>
All users of the Site and our Services
We collect, store and use your personal information for the following purposes:
• to make the Site available to you; and
• to provide any Services that you request.
<br><br>
Sometimes, our use of your personal information is for purposes which are ancillary to the provision of the Site and then Services, or which are desirable in order to make them to operate more effectively. In those circumstances, we believe we have a legitimate interest in handling your personal information, and do not believe that this storage and use of your personal information will unduly prejudice your rights or freedoms.
<br><br>
The relevant circumstances are:
• detecting and preventing fraud;
• keeping our Site, apps, products and IT systems secure;
• ensuring that our own processes, procedures and systems are as efficient as possible;
• analysing and enhancing the information that we collect;
• determining the effectiveness of our promotional campaigns and advertising; and
<br><br>
In some, relatively limited, circumstances we need to handle your personal information in a certain way to be able to comply with our legal obligations. For example if we:
• are requested to disclose your personal information to regulatory bodies;
• need to demonstrate our compliance with applicable law;
• are subject to any enquiry from the Employment Agencies Standards Inspectorate or HMRC.
<br><br>
Anonymous data
We collect anonymised details about visitors to our website for the purposes of aggregate statistics or reporting purposes. However, no single individual will be identifiable from the anonymised details we collect for these purposes.
<br><br>
How we share your personal information and who we share it with
We will disclose information under the following circumstances:
• Service and Site usage information: When we share anonymous information generated by our Services with our clients. For example: average candidate salary for a specific skill set over the last 12 months.
• Third-party service providers: When we share information with third-party service companies for them to facilitate and support us in the provision of the Services. This includes:
o our IT support service providers;
o providers of credit reference, vetting and screening services;
o payment processors and software providers;
<br><br>
These organisations are appointed by InterCity Partners Ltd as data processors and authorised to use your personal information only as necessary to provide the relevant services to us. These organisations are required to process such information based on our instructions and in accordance with this privacy policy. They do not have any independent right to share this information.
<br><br>
Group companies:We provide your personal information to our subsidiaries or affiliated companies for the purpose of processing personal information on our behalf to provide the Site and the Services. These parties are required to process such information based on our instructions and in accordance with this privacy policy. They do not have any independent right to share this information.
Compliance with laws and legal proceedings:When we respond to court orders, or legal process, or to establish or exercise our legal rights or defend against legal claims. When we believe it is necessary to share information in order to investigate, prevent or take actions against illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our terms of use, or as otherwise required by law.
Merger or acquisition: When we need to transfer information about you if we are acquired by or merged with another company. If we are involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified by email and/or a prominent notice on our Site of any change in ownership or uses of your personal information, as well as any choices you have regarding your personal information.
If we disclose personal data to a prospective purchaser of our business or any part of it we will ensure that your privacy is protected.
Recruitment, resourcing and consultancy services: When we are using your personal information in the context of our recruitment, resourcing or consultancy services, then we will share your personal information with clients where we believe that you or your consultancy services will be appropriate for a particular role or vacancy with that client.
Umbrella companies, personal service companies consultancy companies:When you inform us that you are supplying or intend to supply your services via InterCity Partners Ltd to a client through an umbrella company, personal service company or consultancy company.
Recruitment Process Outsourcing and Managed Service Providers: In certain cases, there an organisation such as a managed service provider will act as a gateway for the supply of Services made via InterCity Partners Ltd to the hirer. Where this is the case, we will share your information with such organisations to the extent that it is necessary for the purposes of the supply.
Where personal information is shared with clients, hirers, umbrella companies, personal services companies or managed service providers in the circumstances described above, then those organisations will handle your personal information in line with their own privacy policies.
International transfers
Data which we collect from you may be stored and processed in and transferred to countries outside of the European Economic Area (EEA). For example, this could occur if our servers are located in a country outside the EEA or one of our service providers is situated in a country outside the EEA. We also share information with our group companies, some of which are located outside the EEA. These countries may not have data protection laws equivalent to those in force in the EEA.
<br><br>
If we transfer Data outside the EEA in this way, we will take steps with the aim of ensuring that your privacy rights continue to be protected as outlined in this privacy policy.
<br><br>
How long do we keep your information for?
We will retain information about you for a period of up to 24 months from the date on which you last received contact from us.
<br><br>
We will delete it after that time except where we need to keep any personal information to comply with our legal obligations, resolve disputes, or enforce our agreements.
<br><br>
How we use Cookies
Cookies are files that are recorded in temporary Internet folders on your PC. They’re a useful tool as, by recording the way you use our site, they enable us to get to know you better. For example, we’re able to recognise you when you return to the site, identify your preferences so as to provide you with a more personalised service and speed up searches that you conduct when visiting.
<br><br>
You don’t have to accept them. Most browsers allow you to refuse cookies by activating the relevant setting (please check the help menu of your browser for more details) however, selecting this setting may mean that you are unable to access certain parts of our site.
<br><br>
Please note that unless you have adjusted your browser setting so that it will refuse cookies, our system will issue cookies when you log on to our site.
<br><br>
Further Detail on Cookies
<br><br>
Cookies are text files containing small amounts of information which are downloaded to your device when you visit a website. Cookies are then sent back to the originating website on each subsequent visit, or to another website that recognises that cookie. Cookies do lots of different jobs, like letting you navigate between pages efficiently remembering your preferences, and generally improve your web site experience. They can also help to ensure that adverts you see online are more relevant to you and your interests.
<br><br>
We can split cookies into 4 main categories:
<br><br>
Category 1: strictly necessary cookies
Category 2: performance cookies
Category 3: functionality cookies
Category 4: targeting cookies or advertising cookies
<br><br>
Category 1 – Strictly necessary cookies
These cookies are essential in order to enable you to move around the website and use its features, such as accessing secure areas of the website. Without these cookies services you have asked for, like register for job alerts, cannot be provided.
<br><br>
Please be aware our site uses this type of cookie
<br><br>
Category 2 – Performance cookies
These cookies collect information about how visitors use a website, for instance which pages visitors go to most often, and if they get error messages from web pages. These cookies don’t collect information that identifies a visitor. All information these cookies collect is aggregated and therefore anonymous. It is only used to improve how a website works.
By using our website and online services, you agree that we can place these types of cookies on your device.
<br><br>
Category 3 – Functionality cookies
These cookies allow the website to remember choices you make (such as your user name and password) and provide enhanced, more personal features. These cookies can also be used to remember changes you have made to text size, fonts and other parts of web pages that you can customise. They may also be used to provide services you have asked for such as watching a video or commenting on a blog. The information these cookies collect may be anonymous and they cannot track your browsing activity on other websites.
<br><br>
By using our website and online services, you agree that we can place these types of cookies on your device.
<br><br>
Category 4 – targeting cookies or advertising cookies
These cookies are used to deliver adverts more relevant to you and your interests. They are also used to limit the number of times you see an advertisement as well as help measure the effectiveness of the advertising campaign. They remember that you have visited a website and this information is shared with other organisations such as advertisers. Quite often targeting or advertising cookies will be linked to site functionality provided by the other organisations.
<br><br>
We do have links to other web sites and once you access another site through a link that we have provided it is the responsibility of that site to provide information as to how they use cookies on the respective site.
<br><br>
You can find more information about cookies by visiting www.allaboutcookies.org or www.youronlinechoices.eu. Google also have a brief video which explains the use of cookies.
<br><br>
Social Media
If you share our content through social media, for example by liking us on Facebook, following or tweeting about us on Twitter, those social networks will record that you have done so and may set a cookie for this purpose.
<br><br>
In some cases, where a page on our website includes content from a social network, such as a Twitter feed, or Facebook comments box, those services may set a cookie even where you do not click a button. As is the case for all cookies, we cannot access those set by social networks, just as those social networks cannot access cookies we set ourselves.
<br><br>
Log Files
Our systems automatically gather some anonymous information about visitors, including IP addresses, browser type, language, and the times and dates of webpage visits. The data collected does not include personally information and is used, as described above, for statistical analysis, to understand user behaviour, and to administer the site.
<br><br>
Google Analytics
Our website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”). The information generated by the cookie about your use of our website (including your IP address) will be transmitted to and stored by Google on servers in the United States. Google will use this information for the purpose of evaluating your use of our website, compiling reports on website activity for website operators and providing other services relating to website activity and internet usage. Google may also transfer this information to third parties where required to do so by law, or where such third parties process the information on Google’s behalf. Google will not associate your IP address with any other data held by Google. Further information about Google’s privacy policy may be obtained from http://www.google.com/privacy.html
<br><br>
Security
Your information is held on servers hosted by us or our Internet Services Provider. The transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any transmission is at your own risk.
<br><br>
Your rights to your information
You have certain rights in relation to your personal information. If you would like further information in relation to these or would like to exercise any of them, please contact us at: recruitment@intercitypartners.com at any time. You have the right to request that we:
• update any of your personal information which is out of date or incorrect;
• delete any personal information which we are holding about you;
• restrict the way that we process your personal information;
• prevent the processing of your personal information for direct-marketing purposes;
• provide your personal information to a third-party provider of services;
• provide you with a copy of any personal information which we hold about you; or
• consider any valid objections which you have to our use of your personal information.
<br><br>
We will consider all such requests and provide our response within a reasonable period (and in any event within any time period required by applicable law). Please note, however, that certain personal information will be exempt from such requests in certain circumstances.
<br><br>
If an exception applies, we will tell you this when responding to your request. We may request you provide us with information necessary to confirm your identity before responding to any request you make.
<br><br>
You can request to unsubscribe from job alerts and marketing material at any time. If you wish to contact us with respect to the above matters please email us at recruitment@intercitypartners.com
<br><br>
Changes to our Privacy Policy
This privacy policy was last updated on 8th May 2018.
<br><br>
Please check back regularly to keep informed of updates to this privacy policy. Where we make significant changes to this privacy policy, and we have your email address, we will send you notification of the changes.
<br><br>
InterCity Partners Ltd reserves the right to change this privacy policy as we deem necessary from time to time or as required by law. Any changes will be immediately posted on our Site.
<br><br>
Third party sites
Our website contains links to other websites operated by third parties. Please note that this privacy policy applies only to the personal information that we collect through the Site or the Services, and we cannot be responsible for personal information that third parties collect, store and use through their website. You should always read the privacy policy of each website you visit carefully.
<br><br>
Complaints, questions and suggestions
InterCity Partners Ltd tries to meet the highest standards when collecting and using personal information. We take any complaints we receive about this very seriously. We encourage people to bring it to our attention if they think that our collection or use of information is unfair, misleading or inappropriate.
<br><br>
If you wish to complain about this policy or any of the procedures set out in it, please contact us at: recruitment@intercitypartners.com
<br><br>
 

In the EEA, you can also make a complaint to our supervisory body for data protection matters (the Information Commissioner’s Office in the UK) or seek a remedy through local courts if you believe your rights have been breached.
<br><br>
You can find details of how to do this on the ICO website at https://ico.org.uk/concerns/ or by calling their helpline on 0303 123 1113
<br><br>
Marketing/Subscription Emails
Our Site operates a marketing / subscription-based email system, used to inform subscribers about information supplied by our Site. Users can subscribe through an online automated process should they wish to do so but do so at their own discretion. Some subscriptions will be manually processed through prior written agreement with the user.
<br><br>
Subscriptions are taken in compliance with UK Spam Laws detailed in the Privacy and Electronic Communications Regulations 2003. All personal details relating to subscriptions are held securely and in accordance with the GDPR.
<br><br>
InterCity Partners Ltd also processes your data when it is in our legitimate interests to do this and when these interests do not override your rights. Those legitimate interests include providing you with information on our services and events. Please see the section on ‘Your Interest’ for more information.
<br><br>
Your Interests
When we process your personal information for our legitimate interests, we will consider and balance any potential impact on you and your rights under data protection and any other relevant law. Our legitimate business interests do not automatically override your interests – we will not use your personal data for activities where our interests are overridden by the impact on you (unless we have your consent or are otherwise required or permitted to by law).

 
</p>
{% endblock %}